h1 {
    color: wheat;
    text-align: center;
}
body {
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: cover;
         background-position-y: center;
         background-image: url("/static/image/background.jpg");
}

